.bg-color{
    background-color: white;
}
.buy-now{
    background-image: linear-gradient(to bottom, #000000 0%, #000000 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}
.price{
    text-align: center;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px; lightgray;
}
.orange-bg{
    background-color: #ffffff;
    border-radius: 8px; height: 300px;}
.text{
    text-align: center;
}
